# == GENERAL ==
TZ=America/Argentina/Buenos_Aires
PUID=1000
PGID=1000

# == TRAEFIK ==
TRAEFIK_DOMAIN=tudominio.com
TRAEFIK_ACME_EMAIL=tu@email.com

# == GRAFANA ==
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme

# == POSTGRESQL ==
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
POSTGRES_DB=homelab

# == JELLYFIN ==
JELLYFIN_HOSTNAME=jellyfin.tudominio.com